/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors


.sfooter .sfooter-content .container {
	display: flex;
	background-color: black;
}

header {
	background-color: #2B2828;
	color: #31D224;
}

header > .container {
	display: flex;
	justify-content: left;
	align-items: baseline;
}

header h1 {
	padding-right: 1em;
	padding-left: 1em;
	font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

header em {
	padding-right: 5em;
	padding-left: 1em;
}

******************************************************/
body {
	font-family: "Lucida Console", Monaco, monospace;
}
.sfooter {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex-wrap: nowrap;
}

header {
	background-color: #2B2828;
	color: #31D224;
	/*font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;*/
	order: 0;
}

header > .container {
	display: flex;
	justify-content: left;
	align-items: baseline;
}

header h1 {
	padding-right: 1em;
	padding-left: 5em;
}

header em {
	padding-right: 5em;
	padding-left: 1em;
}

section {
	order:1;
}

section > .container {
	display: flex;
	flex-direction: column;
}

section > .container > img {
	order: 0;
	width: 40%;
	align-self: center;
}

.instructions-wrapper {
	order: 1;
	display: flex;
	justify-content: space-between;;
	border: 10px solid black;
	margin: 2em;
	padding: 2em;
}

.instructions-wrapper > .instructions-content {
	order: 0;
	width: 50%;
}

.instructions-wrapper > img {
	order: 1;
	width: 30%;
	height: 85%;
}

.about-me {
	order: 2;

	background-color: blue;
	color: white;
}

.about-me > .container {
	display: block;
	margin: 2em;
	padding: 2em;
}

.about-me > .container > img {
	border: 3px solid white;
	float: left;
	margin-right: 3em;
}

.about-me p > span {
	color: #E7D608;
	font-style: italic;
	font-weight: bolder;
}

.about-me > .clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.container > h2 {
	text-align: right;
	font-size: 1.5em;
}

.container table {
	color: #31D224;
	font-size: 1.2em;
	border-spacing: 1px 1px;
	width: 100%;
}

.container table, th, td {
	border: 2px solid white;
}

.container table tr {
	background-color: #2B2828;
	height: 3em;
	text-align: left;
}

.container table th, td {
	padding-left: 1.5em;
}

.sfooter-content section:nth-child(5) {
	background-color: #404642;
	padding-top: 3em;
	padding-bottom: 3em;
}

.form-wrapper {
	background-color: #1E7A45;
	color: #31D224;
	margin: 1em;
	padding: 2em;
}

.form-wrapper div {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	width: 30%
}

.form-wrapper div label, input {
	padding: 5px;
}

.form-wrapper form button {
	background-color: #31D224;
	color: black;
	text-align: center;
	font-weight: bold;
	margin: 0.2em;
	height: 3em;
	width: 8em;
	display: inline-block;
}

.sfooter-content::nth-child(5) {
	background-color: #2B2828;;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	font-size: smaller;
}
